<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/forms.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs')%>

      <main>
        <% if (prods.length>0) { %>
          <div class="container">
            <% for (let product of prods) { %>
              <article class="card_product-item">
                <header class="card__header">
                  <h1 class="product__title">
                    <%= product.title %>
                  </h1>
                </header>
                <div class="card__image">
                  <img
                    src="https://th.bing.com/th/id/R.4600155de604dd6b275901733647f647?rik=ti3IFO1tcXfnLw&pid=ImgRaw&r=0"
                    alt="a book">
                </div>
                <div class="card__content">
                  <h2 class="product__price">$19.99</h2>
                  <p class="product__description">A very interesting book about so many even more interesting things</p>
                </div>
                <div class="card__actions">
                  <a href="/admin/edit-product" class="button">Edit</a>
                  <form action="/admin/delete-product" method="post">
                    <button class="button" type="submit">Delete</button>
                  </form>
                </div>
              </article>
              <% } %>
          </div>
          <% } else { %>
            <h1>Page Not Found</h1>
            <% }%>
      </main>

      <%- include('../includes/end.ejs')%>