<div class="card__actions">
  <form action="/cart" method="post">
    <div class="centered-button">
      <a href="/products/<%= product._id %>" class="button">Details</a>
      <button class="button">Add to Cart</button>
      <input type="hidden" name="productId" value="<%=product._id%>">
    </div>
  </form>
</div>